@using MVCOnlineTicariOtomasyon.Models.Sınıflar;
@model List<Personel>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    body {
        background-color: darkgray
    }
</style>
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.d</li>
</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Görsel</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td width="140px" height="150px">@x.PersonelID</td>
    <td width="500px" height="150px" align="center"><img src=@x.PersonelGorsel height="110" width="130"><a style="grid-auto-rows" href="@x.PersonelGorsel" class="btn alert-success">Görsel için tıklayınız</a></td>
    <td>@x.PersonelAd</td>
    <td>@x.PersonelSoyad</td>
    <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-default" style="background-color:lightcoral;color:white">Satışlar</a></td>
</tr>
    }
</table>